/* Reset approach for home page layout */

html {
  overflow-y: scroll;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 30px;
}

.a-text {
  flex: 0 0 60%; /* Don't grow, don't shrink, take 60% width */
  font-family: 'Cardo', serif;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  background-color: #F0F8FF;
  border-radius: 30px;
  box-sizing: border-box;
}